// Colors
$yellow: #f3e80d;
$orange: #fb9603;
$white: #fff;
$black: #363636;
$blue: #0149a8;
$milkyWhite: #e6e6e6;
$milkyWhite-2: #dfedff;
$grey: #838383;
$grey-2:#cdcdcd;
$mediumGrey: #595959;
$bluishGrey: #bad6fc;
$lightBlue: #d9efff;


// Headings font size
$h1_font_size: 100px;
$h2_font_size: 48px;
$h3_font_size: 17px;
$h4_font_size: 18px;
$h5_font_size: 36px;
$h6_font_size: 24px;

// Headings font family
$h1_font_family: 'Aeroport';
$h2_font_family: 'Aeroport';
$h3_font_family: 'Aeroport';
$h4_font_family: 'Aeroport';
$h5_font_family: 'Aeroport';
$h6_font_family: 'Aeroport';

// Headings font style
$h1_font_style: normal;
$h2_font_style: normal;
$h3_font_style: normal;
$h4_font_style: normal;
$h5_font_style: normal;
$h6_font_style: normal;

// Headings font weight
$h1_font_weight: 700;
$h2_font_weight: 700;
$h3_font_weight: 700;
$h4_font_weight: 700;
$h5_font_weight: 700;
$h6_font_weight: 700;

// Headings line height
$h1_line_height: 120%;
$h2_line_height: 120%;
$h3_line_height: 120%;
$h4_line_height: 120%;
$h5_line_height: 120%;
$h6_line_height: 120%;

// Headings color
$h1_color: $white;
$h2_color: $black;
$h3_color: #0149a8;
$h4_color: $black;
$h5_color: #0149a8;
$h6_color: #0149a8;

// Paragraphs font family
$p_font_family: 'Aeroport';

// Paragraphs font style
$p_font_style: normal;

// Paragraphs font weight
$p_font_weight: 400;

// Paragraphs line height
$p_line_height: 26px;

// Paragraphs color
$p_color: $black;

// Paragraphs font size
$p_font_size: 20px;

// Small Paragraphs font family
$p_sm_font_family: 'Aeroport';

// Small Paragraphs font style
$p_sm_font_style: normal;

// Small Paragraphs font weight
$p_sm_font_weight: 400;

// Small Paragraphs line height
$p_sm_line_height: 120%;

// Small Paragraphs color
$p_sm_color: $black;

// Small Paragraphs font size
$p_sm_font_size: 14px;

// Copyright Paragraphs font family
$p_cp_font_family: 'Aeroport';

// Copyright Paragraphs font style
$p_cp_font_style: normal;

// Copyright Paragraphs font weight
$p_cp_font_weight: 400;

// Copyright Paragraphs line height
$p_cp_line_height: 120%;

// Copyright Paragraphs color
$p_cp_color: $white;

// Copyright Paragraphs font size
$p_cp_font_size: 18px;

// Link font family
$link_font_family: 'Aeroport';

// Link font style
$link_font_style: normal;

// Link font weight
$link_font_weight: 400;

// Link line height
$link_line_height: 120%;

// Link color
$link_color: #0149a8;

// Link font size
$link_font_size: 16px;

// Link decoration
$link_text_decoration: underline;

// List Link font family
$list_link_font_family: 'Aeroport';

// List Link font style
$list_link_font_style: normal;

// List Link font weight
$list_link_font_weight: 400;

// List Link line height
$list_link_line_height: 120%;

// List Link color
$list_link_color: #f9f9f9;

// List Link font size
$list_link_font_size: 16px;

// List Link decoration
$list_link_text_decoration: none;

// Header Link font family
$header_link_font_family: 'Aeroport';

// Header Link font style
$header_link_font_style: normal;

// Header Link font weight
$header_link_font_weight: 400;

// Header Link line height
$header_link_line_height: 120%;

// Header Link color
$header_link_color: $white;

// Header Link font size
$header_link_font_size: 18px;

// Header Link decoration
$header_link_text_decoration: none;

// Buttons font family
$btn_font_family: 'Aeroport';

// Buttons font style
$btn_font_style: normal;

// Buttons font weight
$btn_font_weight: 700;

// Buttons line height
$btn_line_height: 120%;

// Buttons color
$btn_color: $white;

// Buttons font size
$btn_font_size: 22px;

// Label font family
$label_font_family: 'Aeroport';

// Label font style
$label_font_style: normal;

// Label font weight
$label_font_weight: 700;

// Label line height
$label_line_height: 24px;

// Label color
$label_color: #fdfcfc;

// Label font size
$label_font_size: 16px;

